TAPGO_ENV=production
TAPGO_BASE_URL=https://contract.tapgo.ch
TAPGO_HEALTH_TOKEN=GENERATE_A_LONG_RANDOM_VALUE

TAPGO_INTERNAL_EMAIL=contract@tapgo.ch
TAPGO_FROM_EMAIL=contract@tapgo.ch
TAPGO_SMTP_HOST=mail.infomaniak.com
TAPGO_SMTP_PORT=587
TAPGO_SMTP_USERNAME=contract@tapgo.ch
TAPGO_SMTP_PASSWORD=ENTER_ON_SERVER_ONLY
TAPGO_SMTP_STARTTLS=true
TAPGO_IMAP_HOST=mail.infomaniak.com
TAPGO_IMAP_PORT=993
TAPGO_IMAP_USERNAME=contract@tapgo.ch
TAPGO_IMAP_PASSWORD=ENTER_ON_SERVER_ONLY

TAPGO_OBJECT_STORAGE_BUCKET=CONFIRM_EXACT_BUCKET_NAME
TAPGO_OBJECT_STORAGE_ENDPOINT=https://sos-ch-dk-2.exo.io
TAPGO_OBJECT_STORAGE_ACCESS_KEY=ENTER_ON_SERVER_ONLY
TAPGO_OBJECT_STORAGE_SECRET_KEY=ENTER_ON_SERVER_ONLY
TAPGO_OBJECT_STORAGE_REGION=ch-dk-2

TAPGO_STRIPE_SECRET_KEY=ENTER_ON_SERVER_ONLY
TAPGO_STRIPE_WEBHOOK_SECRET=ENTER_ON_SERVER_ONLY
TAPGO_STRIPE_CURRENCY=chf

TAPGO_PDF_ENGINE=chrome
TAPGO_CHROME_BIN=/usr/bin/google-chrome
